# Numpy Problems

In [1]:
import numpy as np 
import pandas as pd

In [2]:
mpg = pd.read_csv(r'/Users/renchulaji/Desktop/auto-mpg.csv')

In [3]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

1) Basic array Operation
   Convert the mpg column into numpy array and calculate:
    * The mean,median, and standard deviation of mpg
    * The number of cars with mpg greater than 25

In [4]:
pf= pd.DataFrame(mpg)

In [5]:
mpg_array=pf['mpg'].to_numpy()

In [6]:
mpg_array

array([18. , 15. , 18. , 16. , 17. , 15. , 14. , 14. , 14. , 15. , 15. ,
       14. , 15. , 14. , 24. , 22. , 18. , 21. , 27. , 26. , 25. , 24. ,
       25. , 26. , 21. , 10. , 10. , 11. ,  9. , 27. , 28. , 25. , 25. ,
       19. , 16. , 17. , 19. , 18. , 14. , 14. , 14. , 14. , 12. , 13. ,
       13. , 18. , 22. , 19. , 18. , 23. , 28. , 30. , 30. , 31. , 35. ,
       27. , 26. , 24. , 25. , 23. , 20. , 21. , 13. , 14. , 15. , 14. ,
       17. , 11. , 13. , 12. , 13. , 19. , 15. , 13. , 13. , 14. , 18. ,
       22. , 21. , 26. , 22. , 28. , 23. , 28. , 27. , 13. , 14. , 13. ,
       14. , 15. , 12. , 13. , 13. , 14. , 13. , 12. , 13. , 18. , 16. ,
       18. , 18. , 23. , 26. , 11. , 12. , 13. , 12. , 18. , 20. , 21. ,
       22. , 18. , 19. , 21. , 26. , 15. , 16. , 29. , 24. , 20. , 19. ,
       15. , 24. , 20. , 11. , 20. , 21. , 19. , 15. , 31. , 26. , 32. ,
       25. , 16. , 16. , 18. , 16. , 13. , 14. , 14. , 14. , 29. , 26. ,
       26. , 31. , 32. , 28. , 24. , 26. , 24. , 26. , 31. , 19. , 18. ,
       15. , 15. , 16. , 15. , 16. , 14. , 17. , 16. , 15. , 18. , 21. ,
       20. , 13. , 29. , 23. , 20. , 23. , 24. , 25. , 24. , 18. , 29. ,
       19. , 23. , 23. , 22. , 25. , 33. , 28. , 25. , 25. , 26. , 27. ,
       17.5, 16. , 15.5, 14.5, 22. , 22. , 24. , 22.5, 29. , 24.5, 29. ,
       33. , 20. , 18. , 18.5, 17.5, 29.5, 32. , 28. , 26.5, 20. , 13. ,
       19. , 19. , 16.5, 16.5, 13. , 13. , 13. , 31.5, 30. , 36. , 25.5,
       33.5, 17.5, 17. , 15.5, 15. , 17.5, 20.5, 19. , 18.5, 16. , 15.5,
       15.5, 16. , 29. , 24.5, 26. , 25.5, 30.5, 33.5, 30. , 30.5, 22. ,
       21.5, 21.5, 43.1, 36.1, 32.8, 39.4, 36.1, 19.9, 19.4, 20.2, 19.2,
       20.5, 20.2, 25.1, 20.5, 19.4, 20.6, 20.8, 18.6, 18.1, 19.2, 17.7,
       18.1, 17.5, 30. , 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3,
       17. , 21.6, 16.2, 31.5, 29.5, 21.5, 19.8, 22.3, 20.2, 20.6, 17. ,
       17.6, 16.5, 18.2, 16.9, 15.5, 19.2, 18.5, 31.9, 34.1, 35.7, 27.4,
       25.4, 23. , 27.2, 23.9, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8,
       33.5, 41.5, 38.1, 32.1, 37.2, 28. , 26.4, 24.3, 19.1, 34.3, 29.8,
       31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 30. , 44.6,
       40.9, 33.8, 29.8, 32.7, 23.7, 35. , 23.6, 32.4, 27.2, 26.6, 25.8,
       23.5, 30. , 39.1, 39. , 35.1, 32.3, 37. , 37.7, 34.1, 34.7, 34.4,
       29.9, 33. , 34.5, 33.7, 32.4, 32.9, 31.6, 28.1, 30.7, 25.4, 24.2,
       22.4, 26.6, 20.2, 17.6, 28. , 27. , 34. , 31. , 29. , 27. , 24. ,
       23. , 36. , 37. , 31. , 38. , 36. , 36. , 36. , 34. , 38. , 32. ,
       38. , 25. , 38. , 26. , 22. , 32. , 36. , 27. , 27. , 44. , 32. ,
       28. , 31. ])

In [7]:
mpg_array.dtype

dtype('float64')

In [8]:
mean = np.mean(mpg_array)
median = np.median(mpg_array)
sd = np.std(mpg_array)
print("Mean",mean)
print("Median",median)
print("Standard Deviation",sd)

Mean 23.514572864321607
Median 23.0
Standard Deviation 7.806159061274433

In [9]:
count = np.sum(mpg_array > 25)
print("(MPG > 25):",count)

(MPG > 25): 158

Filtering

* Using Numpy, filter all cars with more than 6 cylinder
* Return the corresponding car_name as list

In [10]:
cylinder = mpg[mpg['cylinders'] == 6]

In [11]:
cylinder

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
24,21.0,6,199.0,90,2648,15.0,70,1,amc gremlin
33,19.0,6,232.0,100,2634,13.0,71,1,amc gremlin
...,...,...,...,...,...,...,...,...,...
365,20.2,6,200.0,88,3060,17.1,81,1,ford granada gl
366,17.6,6,225.0,85,3465,16.6,81,1,chrysler lebaron salon
386,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
387,38.0,6,262.0,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l

mpg = pd.DataFrame(mpg)

In [12]:
car_names = mpg[mpg['cylinders'] == 6]['car name'].tolist()

In [13]:
car_names

['plymouth duster',
 'amc hornet',
 'ford maverick',
 'amc gremlin',
 'amc gremlin',
 'plymouth satellite custom',
 'chevrolet chevelle malibu',
 'ford torino 500',
 'amc matador',
 'amc hornet sportabout (sw)',
 'pontiac firebird',
 'ford mustang',
 'plymouth valiant',
 'chevrolet nova custom',
 'amc hornet',
 'ford maverick',
 'plymouth duster',
 'amc gremlin',
 'mercury capri v6',
 'toyota mark ii',
 'plymouth duster',
 'ford maverick',
 'amc hornet',
 'chevrolet nova',
 'chevrolet chevelle malibu classic',
 'amc matador',
 'plymouth satellite sebring',
 'plymouth valiant custom',
 'chevrolet nova',
 'mercury monarch',
 'ford maverick',
 'buick century',
 'chevroelt chevelle malibu',
 'amc matador',
 'plymouth fury',
 'buick skyhawk',
 'amc gremlin',
 'ford pinto',
 'amc pacer',
 'plymouth valiant',
 'chevrolet nova',
 'ford maverick',
 'amc hornet',
 'dodge aspen se',
 'ford granada ghia',
 'pontiac ventura sj',
 'amc pacer d/l',
 'toyota mark ii',
 'mercedes-benz 280s',
 'chevrolet concours',
 'buick skylark',
 'plymouth volare custom',
 'ford granada',
 'datsun 810',
 'pontiac phoenix lj',
 'chevrolet malibu',
 'ford fairmont (auto)',
 'plymouth volare',
 'amc concord',
 'buick century special',
 'mercury zephyr',
 'dodge aspen',
 'amc concord d/l',
 'buick regal sport coupe (turbo)',
 'volvo 264gl',
 'peugeot 604sl',
 'pontiac lemans v6',
 'mercury zephyr 6',
 'amc concord dl 6',
 'dodge aspen 6',
 'chevrolet citation',
 'oldsmobile omega brougham',
 'dodge aspen',
 'datsun 280-zx',
 'chevrolet citation',
 'volvo diesel',
 'toyota cressida',
 'datsun 810 maxima',
 'buick century',
 'ford granada gl',
 'chrysler lebaron salon',
 'buick century limited',
 'oldsmobile cutlass ciera (diesel)',
 'ford granada l']

Statistical Analysis 
* Compute the 25th, 50th and 75th percentiles of the weight column using Numpy

In [14]:
weight = mpg['weight'].to_numpy()

In [15]:
weight.sort()
weight

array([1613, 1649, 1755, 1760, 1773, 1795, 1795, 1800, 1800, 1825, 1825,
       1834, 1835, 1835, 1836, 1845, 1850, 1867, 1875, 1915, 1925, 1937,
       1937, 1940, 1945, 1950, 1950, 1955, 1963, 1965, 1965, 1968, 1970,
       1975, 1975, 1980, 1985, 1985, 1985, 1985, 1990, 1990, 1995, 2000,
       2003, 2019, 2020, 2025, 2035, 2045, 2045, 2046, 2050, 2051, 2065,
       2065, 2070, 2074, 2075, 2085, 2100, 2108, 2110, 2110, 2120, 2123,
       2124, 2125, 2125, 2125, 2126, 2130, 2130, 2130, 2130, 2135, 2144,
       2145, 2150, 2155, 2155, 2155, 2158, 2160, 2164, 2164, 2171, 2188,
       2189, 2190, 2190, 2200, 2202, 2205, 2210, 2215, 2219, 2220, 2220,
       2223, 2226, 2228, 2230, 2234, 2245, 2246, 2254, 2255, 2264, 2265,
       2265, 2265, 2278, 2279, 2288, 2290, 2295, 2300, 2300, 2300, 2310,
       2320, 2330, 2335, 2350, 2370, 2372, 2375, 2379, 2380, 2385, 2391,
       2395, 2395, 2401, 2405, 2408, 2408, 2420, 2430, 2434, 2451, 2464,
       2472, 2489, 2490, 2500, 2506, 2511, 2515, 2525, 2542, 2542, 2545,
       2556, 2560, 2565, 2572, 2575, 2582, 2585, 2587, 2592, 2595, 2600,
       2605, 2615, 2620, 2625, 2634, 2635, 2635, 2639, 2640, 2648, 2660,
       2665, 2670, 2670, 2671, 2672, 2678, 2694, 2700, 2702, 2711, 2720,
       2720, 2720, 2725, 2735, 2740, 2745, 2755, 2774, 2789, 2790, 2795,
       2800, 2807, 2815, 2830, 2833, 2835, 2855, 2865, 2868, 2870, 2875,
       2890, 2900, 2901, 2904, 2905, 2910, 2914, 2930, 2930, 2933, 2945,
       2945, 2945, 2950, 2950, 2957, 2962, 2965, 2979, 2984, 2990, 3003,
       3012, 3015, 3021, 3035, 3039, 3060, 3070, 3085, 3086, 3102, 3121,
       3139, 3140, 3150, 3155, 3158, 3160, 3169, 3190, 3193, 3205, 3210,
       3211, 3221, 3230, 3233, 3245, 3250, 3264, 3265, 3270, 3278, 3282,
       3288, 3302, 3329, 3336, 3353, 3360, 3365, 3380, 3381, 3399, 3410,
       3410, 3415, 3420, 3425, 3425, 3430, 3432, 3433, 3436, 3439, 3445,
       3449, 3459, 3465, 3504, 3520, 3525, 3530, 3535, 3563, 3570, 3574,
       3605, 3609, 3613, 3620, 3630, 3632, 3645, 3651, 3664, 3672, 3672,
       3693, 3725, 3725, 3730, 3735, 3755, 3761, 3777, 3781, 3785, 3820,
       3821, 3830, 3840, 3850, 3870, 3880, 3892, 3897, 3900, 3907, 3940,
       3940, 3955, 3962, 3988, 4042, 4054, 4055, 4060, 4077, 4080, 4082,
       4096, 4098, 4100, 4129, 4135, 4140, 4141, 4154, 4165, 4190, 4209,
       4215, 4215, 4220, 4237, 4257, 4274, 4278, 4294, 4295, 4312, 4325,
       4335, 4341, 4354, 4360, 4363, 4376, 4380, 4382, 4385, 4422, 4425,
       4440, 4456, 4457, 4464, 4464, 4498, 4499, 4502, 4615, 4633, 4638,
       4654, 4657, 4668, 4699, 4732, 4735, 4746, 4906, 4951, 4952, 4955,
       4997, 5140])

In [16]:
Twenty_five = np.percentile(weight,25)
Fifty=np.percentile(weight,50)
Seventy_five = np.percentile(weight,75)

In [17]:
print("25th Percentile",Twenty_five)
print("50th Percentile",Fifty)
print("75th Percentile",Seventy_five)

25th Percentile 2223.75
50th Percentile 2803.5
75th Percentile 3608.0

Array Manipulation

* Convert the acceleration column into a NumPY array and normalize its values (Scale between 0 and 1)

In [18]:
acceleration = mpg['acceleration'].to_numpy()

In [19]:
acceleration

array([12. , 11.5, 11. , 12. , 10.5, 10. ,  9. ,  8.5, 10. ,  8.5, 10. ,
        8. ,  9.5, 10. , 15. , 15.5, 15.5, 16. , 14.5, 20.5, 17.5, 14.5,
       17.5, 12.5, 15. , 14. , 15. , 13.5, 18.5, 14.5, 15.5, 14. , 19. ,
       13. , 15.5, 15.5, 15.5, 15.5, 12. , 11.5, 13.5, 13. , 11.5, 12. ,
       12. , 13.5, 19. , 15. , 14.5, 14. , 14. , 19.5, 14.5, 19. , 18. ,
       19. , 20.5, 15.5, 17. , 23.5, 19.5, 16.5, 12. , 12. , 13.5, 13. ,
       11.5, 11. , 13.5, 13.5, 12.5, 13.5, 12.5, 14. , 16. , 14. , 14.5,
       18. , 19.5, 18. , 16. , 17. , 14.5, 15. , 16.5, 13. , 11.5, 13. ,
       14.5, 12.5, 11.5, 12. , 13. , 14.5, 11. , 11. , 11. , 16.5, 18. ,
       16. , 16.5, 16. , 21. , 14. , 12.5, 13. , 12.5, 15. , 19. , 19.5,
       16.5, 13.5, 18.5, 14. , 15.5, 13. ,  9.5, 19.5, 15.5, 14. , 15.5,
       11. , 14. , 13.5, 11. , 16.5, 17. , 16. , 17. , 19. , 16.5, 21. ,
       17. , 17. , 18. , 16.5, 14. , 14.5, 13.5, 16. , 15.5, 16.5, 15.5,
       14.5, 16.5, 19. , 14.5, 15.5, 14. , 15. , 15.5, 16. , 16. , 16. ,
       21. , 19.5, 11.5, 14. , 14.5, 13.5, 21. , 18.5, 19. , 19. , 15. ,
       13.5, 12. , 16. , 17. , 16. , 18.5, 13.5, 16.5, 17. , 14.5, 14. ,
       17. , 15. , 17. , 14.5, 13.5, 17.5, 15.5, 16.9, 14.9, 17.7, 15.3,
       13. , 13. , 13.9, 12.8, 15.4, 14.5, 17.6, 17.6, 22.2, 22.1, 14.2,
       17.4, 17.7, 21. , 16.2, 17.8, 12.2, 17. , 16.4, 13.6, 15.7, 13.2,
       21.9, 15.5, 16.7, 12.1, 12. , 15. , 14. , 18.5, 14.8, 18.6, 15.5,
       16.8, 12.5, 19. , 13.7, 14.9, 16.4, 16.9, 17.7, 19. , 11.1, 11.4,
       12.2, 14.5, 14.5, 16. , 18.2, 15.8, 17. , 15.9, 16.4, 14.1, 14.5,
       12.8, 13.5, 21.5, 14.4, 19.4, 18.6, 16.4, 15.5, 13.2, 12.8, 19.2,
       18.2, 15.8, 15.4, 17.2, 17.2, 15.8, 16.7, 18.7, 15.1, 13.2, 13.4,
       11.2, 13.7, 16.5, 14.2, 14.7, 14.5, 14.8, 16.7, 17.6, 14.9, 15.9,
       13.6, 15.7, 15.8, 14.9, 16.6, 15.4, 18.2, 17.3, 18.2, 16.6, 15.4,
       13.4, 13.2, 15.2, 14.9, 14.3, 15. , 13. , 14. , 15.2, 14.4, 15. ,
       20.1, 17.4, 24.8, 22.2, 13.2, 14.9, 19.2, 14.7, 16. , 11.3, 12.9,
       13.2, 14.7, 18.8, 15.5, 16.4, 16.5, 18.1, 20.1, 18.7, 15.8, 15.5,
       17.5, 15. , 15.2, 17.9, 14.4, 19.2, 21.7, 23.7, 19.9, 21.8, 13.8,
       17.3, 18. , 15.3, 11.4, 12.5, 15.1, 14.3, 17. , 15.7, 16.4, 14.4,
       12.6, 12.9, 16.9, 16.4, 16.1, 17.8, 19.4, 17.3, 16. , 14.9, 16.2,
       20.7, 14.2, 15.8, 14.4, 16.8, 14.8, 18.3, 20.4, 19.6, 12.6, 13.8,
       15.8, 19. , 17.1, 16.6, 19.6, 18.6, 18. , 16.2, 16. , 18. , 16.4,
       20.5, 15.3, 18.2, 17.6, 14.7, 17.3, 14.5, 14.5, 16.9, 15. , 15.7,
       16.2, 16.4, 17. , 14.5, 14.7, 13.9, 13. , 17.3, 15.6, 24.6, 11.6,
       18.6, 19.4])

In [20]:
min = np.min(acceleration)
max = np.max(acceleration)

normalize= (acceleration-min)/(max-min)
normalize

array([0.23809524, 0.20833333, 0.17857143, 0.23809524, 0.14880952,
       0.11904762, 0.05952381, 0.0297619 , 0.11904762, 0.0297619 ,
       0.11904762, 0.        , 0.08928571, 0.11904762, 0.41666667,
       0.44642857, 0.44642857, 0.47619048, 0.38690476, 0.74404762,
       0.56547619, 0.38690476, 0.56547619, 0.26785714, 0.41666667,
       0.35714286, 0.41666667, 0.32738095, 0.625     , 0.38690476,
       0.44642857, 0.35714286, 0.6547619 , 0.29761905, 0.44642857,
       0.44642857, 0.44642857, 0.44642857, 0.23809524, 0.20833333,
       0.32738095, 0.29761905, 0.20833333, 0.23809524, 0.23809524,
       0.32738095, 0.6547619 , 0.41666667, 0.38690476, 0.35714286,
       0.35714286, 0.68452381, 0.38690476, 0.6547619 , 0.5952381 ,
       0.6547619 , 0.74404762, 0.44642857, 0.53571429, 0.92261905,
       0.68452381, 0.50595238, 0.23809524, 0.23809524, 0.32738095,
       0.29761905, 0.20833333, 0.17857143, 0.32738095, 0.32738095,
       0.26785714, 0.32738095, 0.26785714, 0.35714286, 0.47619048,
       0.35714286, 0.38690476, 0.5952381 , 0.68452381, 0.5952381 ,
       0.47619048, 0.53571429, 0.38690476, 0.41666667, 0.50595238,
       0.29761905, 0.20833333, 0.29761905, 0.38690476, 0.26785714,
       0.20833333, 0.23809524, 0.29761905, 0.38690476, 0.17857143,
       0.17857143, 0.17857143, 0.50595238, 0.5952381 , 0.47619048,
       0.50595238, 0.47619048, 0.77380952, 0.35714286, 0.26785714,
       0.29761905, 0.26785714, 0.41666667, 0.6547619 , 0.68452381,
       0.50595238, 0.32738095, 0.625     , 0.35714286, 0.44642857,
       0.29761905, 0.08928571, 0.68452381, 0.44642857, 0.35714286,
       0.44642857, 0.17857143, 0.35714286, 0.32738095, 0.17857143,
       0.50595238, 0.53571429, 0.47619048, 0.53571429, 0.6547619 ,
       0.50595238, 0.77380952, 0.53571429, 0.53571429, 0.5952381 ,
       0.50595238, 0.35714286, 0.38690476, 0.32738095, 0.47619048,
       0.44642857, 0.50595238, 0.44642857, 0.38690476, 0.50595238,
       0.6547619 , 0.38690476, 0.44642857, 0.35714286, 0.41666667,
       0.44642857, 0.47619048, 0.47619048, 0.47619048, 0.77380952,
       0.68452381, 0.20833333, 0.35714286, 0.38690476, 0.32738095,
       0.77380952, 0.625     , 0.6547619 , 0.6547619 , 0.41666667,
       0.32738095, 0.23809524, 0.47619048, 0.53571429, 0.47619048,
       0.625     , 0.32738095, 0.50595238, 0.53571429, 0.38690476,
       0.35714286, 0.53571429, 0.41666667, 0.53571429, 0.38690476,
       0.32738095, 0.56547619, 0.44642857, 0.5297619 , 0.41071429,
       0.57738095, 0.43452381, 0.29761905, 0.29761905, 0.35119048,
       0.28571429, 0.44047619, 0.38690476, 0.57142857, 0.57142857,
       0.8452381 , 0.83928571, 0.36904762, 0.55952381, 0.57738095,
       0.77380952, 0.48809524, 0.58333333, 0.25      , 0.53571429,
       0.5       , 0.33333333, 0.45833333, 0.30952381, 0.82738095,
       0.44642857, 0.51785714, 0.24404762, 0.23809524, 0.41666667,
       0.35714286, 0.625     , 0.4047619 , 0.63095238, 0.44642857,
       0.52380952, 0.26785714, 0.6547619 , 0.33928571, 0.41071429,
       0.5       , 0.5297619 , 0.57738095, 0.6547619 , 0.18452381,
       0.20238095, 0.25      , 0.38690476, 0.38690476, 0.47619048,
       0.60714286, 0.46428571, 0.53571429, 0.4702381 , 0.5       ,
       0.36309524, 0.38690476, 0.28571429, 0.32738095, 0.80357143,
       0.38095238, 0.67857143, 0.63095238, 0.5       , 0.44642857,
       0.30952381, 0.28571429, 0.66666667, 0.60714286, 0.46428571,
       0.44047619, 0.54761905, 0.54761905, 0.46428571, 0.51785714,
       0.63690476, 0.42261905, 0.30952381, 0.32142857, 0.19047619,
       0.33928571, 0.50595238, 0.36904762, 0.39880952, 0.38690476,
       0.4047619 , 0.51785714, 0.57142857, 0.41071429, 0.4702381 ,
       0.33333333, 0.45833333, 0.46428571, 0.41071429, 0.51190476,
       0.44047619, 0.60714286, 0.55357143, 0.60714286, 0.51190476,
       0.44047619, 0.32142857, 0.30952381, 0.42857143, 0.41071429,
       0.375     , 0.41666667, 0.29761905, 0.35714286, 0.42857143,
       0.38095238, 0.41666667, 0.7202381 , 0.55952381, 1.        ,
       0.8452381 , 0.30952381, 0.41071429, 0.66666667, 0.39880952,
       0.47619048, 0.19642857, 0.29166667, 0.30952381, 0.39880952,
       0.64285714, 0.44642857, 0.5       , 0.50595238, 0.60119048,
       0.7202381 , 0.63690476, 0.46428571, 0.44642857, 0.56547619,
       0.41666667, 0.42857143, 0.58928571, 0.38095238, 0.66666667,
       0.81547619, 0.93452381, 0.70833333, 0.82142857, 0.3452381 ,
       0.55357143, 0.5952381 , 0.43452381, 0.20238095, 0.26785714,
       0.42261905, 0.375     , 0.53571429, 0.45833333, 0.5       ,
       0.38095238, 0.27380952, 0.29166667, 0.5297619 , 0.5       ,
       0.48214286, 0.58333333, 0.67857143, 0.55357143, 0.47619048,
       0.41071429, 0.48809524, 0.75595238, 0.36904762, 0.46428571,
       0.38095238, 0.52380952, 0.4047619 , 0.61309524, 0.73809524,
       0.69047619, 0.27380952, 0.3452381 , 0.46428571, 0.6547619 ,
       0.54166667, 0.51190476, 0.69047619, 0.63095238, 0.5952381 ,
       0.48809524, 0.47619048, 0.5952381 , 0.5       , 0.74404762,
       0.43452381, 0.60714286, 0.57142857, 0.39880952, 0.55357143,
       0.38690476, 0.38690476, 0.5297619 , 0.41666667, 0.45833333,
       0.48809524, 0.5       , 0.53571429, 0.38690476, 0.39880952,
       0.35119048, 0.29761905, 0.55357143, 0.45238095, 0.98809524,
       0.21428571, 0.63095238, 0.67857143])

Broadcasting
* Increase all horsepower values by 10% and store the updated values in a new NumPy array. Handle missing data( if any) by replacing it with the mean of the column before applying the increase.

In [21]:
mpg['horsepower'] = pd.to_numeric(mpg['horsepower'], errors = 'coerce')

horsepower = mpg['horsepower'].to_numpy()

In [22]:
mean_horsepower= np.nanmean['horsepower']

NameError: name 'horsepower' is not defined

In [ ]:
null_horsepower=np.nan_to_num(horsepower, nan= mean_horsepower)

In [ ]:
ten_horsepower = null_horsepower * 1.10

In [ ]:
ten_horsepower

Boolean Indexing

Find the average of displacement of cars with an origin of 2(Europe) using numpy Indexing

In [ ]:
displacement = mpg.loc[mpg['origin']== 2]['displacement'].to_numpy()

In [ ]:
average = np.average(displacement)

In [ ]:
average

Matrix Operations

Create a 2D NumPY array containing the column mpg,horsepower, and weight.Compute the dot product of this matrix with a given vector [1,0.5,-0.2]

In [ ]:
vector = np.array([1,0.5,-0.2])

In [ ]:
Combined =mpg[['mpg','horsepower','weight']].to_numpy()

In [ ]:
dot_product = np.dot(Combined,vector)

In [ ]:
dot_product

Sorting
Use Numpy to sort the cars by model_year in descending order and display the first five car name

In [ ]:
sort = mpg.sort_values(by='model year', ascending=False)

In [ ]:
car_name = sort['car name'].head

In [ ]:
car_name

Correlation
Compute the pearson correlatio coefficient between mpg and weight using Numpy

In [ ]:
Co_mpg = mpg['mpg'].to_numpy()
Co_weight = mpg['weight'].to_numpy()

In [ ]:
corr = np.corrcoef(Co_mpg,Co_weight)

In [ ]:
corr

In [ ]:
cor_coef = corr[0,1]

In [ ]:
cor_coef

Conditional Aggregates

Calculate the mean mpg for cars grouped by number of cylinders using numpy technique

In [23]:
mpg = mpg.apply(pd.to_numeric, errors='coerce')

In [24]:
cylinder = mpg['cylinders'].to_numpy()

In [25]:
unique = np.unique(cylinder)

In [27]:
for cyl in unique:
    mean_mpg = mpg[cylinder == cyl].mean()

In [28]:
mean_mpg

mpg               14.963107
cylinders          8.000000
displacement     345.009709
horsepower       158.300971
weight          2472.009709
acceleration      12.955340
model year        73.902913
origin             1.000000
car name                NaN
dtype: float64